bleach
boto3
botocore
certifi
charset-normalizer
docutils
idna
importlib-metadata
jaraco.classes
jmespath
keyring
markdown-it-py
mdurl
more-itertools
numpy
pandas
pandoc
pkginfo
plumbum
ply
Pygments
python-dateutil
pytz
readme-renderer
requests
requests-toolbelt
rfc3986
rich
s3transfer
six
twine
tzdata
urllib3
webencodings
zipp
