certifi
charset-normalizer
coverage
idna
iniconfig
jaraco.classes
jaraco.context
jaraco.functools
keyring
more-itertools
numpy
packaging
pandas
pluggy
pytest
pytest-cov
python-dateutil
pytz
requests
setuptools
six
tzdata
urllib3
wheel
